{erl_opts, [debug_info, 
            fail_on_warning,
            warnings_as_errors,
            {parse_transform, lager_transform}]}.

{cover_enabled, true}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.
{eunit_opts, [verbose,
   {report, {eunit_surefire, [{dir, "."}]}}]}.


{deps, [
    {erlang_mesos ,  ".*", {git, "git://github.com/mdevilliers/erlang-mesos.git", "v0.20.1"} },
    {lager, ".*", {git, "git://github.com/basho/lager.git", "HEAD"}},
    {uuid, ".*", {git, "git://github.com/okeuday/uuid.git", "HEAD"}},
    {gproc, ".*", {git, "git://github.com/uwiger/gproc.git", "HEAD"}}
]}.
