{erl_opts, [debug_info, fail_on_warning,
            {parse_transform, lager_transform}]}.

{deps, [
    {erlang_mesos ,  ".*", {git, "git://github.com/mdevilliers/erlang-mesos.git", "HEAD"} },
    {lager, ".*", {git, "git://github.com/basho/lager.git", "HEAD"}},
    {uuid, ".*", {git, "git://github.com/okeuday/uuid.git", "HEAD"}}
]}.